<%- include('./partials/header'); %>
    <div id="konten">
        <div class="col-12">
            <table class="table table-success table-striped mt-3" id="table">
              <thead>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">Name</th>
                  <th scope="col">Eye Color</th>
                  <th scope="col">Age</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Company</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Favourite Fruits</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
           <img
            class="d-block mx-auto w-50"
            src="https://media.giphy.com/media/FcuiZUneg1YRAu1lH2/giphy.gif"
            alt=""
          />
          <h1 class="text-center">Disini gak ada apa-apa bro</h1>
        </div>
      </div>
    </div>
    </div>
    <%- include('./partials/footer'); %>
