<%- include('./partials/header'); %>
        <div class="col-12">
          <table class="table table-success table-striped mt-3" id="table">
            <thead>
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Name</th>
                <th scope="col">Eye Color</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Company</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Favourite Fruits</th>
              </tr>
            </thead>
            <tbody>
             <tr>
              <% if(typeof datas == 'object'){ %> 
                <% datas.forEach(function(mascot) { %>
                  <tr>
                    <td>
                      <strong><%= mascot.index %></strong>
                    </td>
                    <td><%= mascot.name %></td>
                    <td><%= mascot.eyeColor %></td>     
                    <td><%= mascot.age %></td>
                    <td><%= mascot.gender %></td>
                    <td><%= mascot.company %></td>   
                    <td><%= mascot.email %></td>
                    <td><%= mascot.phone %></td>  
                    <td><%= mascot.favoriteFruit %></td>
                  </tr>     
                  <% }); %>
             </tr>
            </tbody>
          </table>
          <% } else { %>  
            <img
             class="d-block mx-auto w-50"
             src="https://media.giphy.com/media/FcuiZUneg1YRAu1lH2/giphy.gif"
             alt=""
           />
           <h1 class="text-center"><%=  %></h1>
          <% } %>
        </div>
      </div>
    </div>
    <div id="konten"></div>
    <%- include('./partials/footer'); %>
