<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<!-- <script src="../../../index.js"></script> -->
<script src="/index.js"></script>
<script src="/class.js"></script>
<!-- <script src="/axios/dist/axios.min.js"></script> -->
<script>
  document.getElementById("cari").addEventListener("click", function () {
    let app = new App();
    app.getData();
  });
</script>

</body>

</html>